
{{ define "content" }}
<script>
function validar(e) {
  e.preventDefault(); 
  laforma = document.getElementById("crearusuario");
  user = document.getElementById("usuario");
  correo = document.getElementById("email");
  contrasena = document.getElementById("password");
  if( contrasena.checkValidity() && user.checkValidity() && correo.checkValidity() ){
    laforma.submit();
  } else {
    alert("Errores en los campos");
  }
}
</script>
  <div class="container">
  {{ if .mensajeflash }}
    <div class="{{ .alerta }}" role="alert">
  {{ .mensajeflash }}
    </div>
  {{ end }}
  <h3>Nuevo usuario</h3>
  <form action="/cuenta" method="POST" id="crearusuario" onSubmit="confirm('Confirmar')">
    <table class="table">
    <tr>
    <td><strong>Usuario: </strong></td><td><input type="text" size="38" max="200" id="usuario" name="usuario" 
     pattern="[a-zA-Z0-9]+" minlength="6" title="Mínimo 6 caracteres para el usuario, no usar espacios ni caracteres especiales"
      required/></td>
    </tr>
    <tr>
    <td><strong>E-mail: </strong></td><td><input type="email" size="38"
    min="6" max="200" id="email" name="email" title="Por favor introduzca una dirección de correo válida"
    required placeholder="Ingrese una dirección de correo válida"/></td>
    </tr>
    <tr>
    <td><strong>Password </strong></td><td><input type="password" size="38" 
      max="20" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Mínimo 6 caracteres, usar minúsculas, números y mayúsculas" 
      required/></td>
    </tr>
    <tr>
    <td></td>
    <td><button class="g-recaptcha" 
            data-sitekey="6LdR07EZAAAAALAANQF1zzAlKrbyZ5ubaI2LzC3c" 
            data-callback='onSubmit' 
            data-action='submit' id='enviar' type='submit' disabled>Crear</button></td>
    </tr>
    </table>
  </form>
  </div>
  <p>
  {{ if .user }}
    Usuario <strong>{{ .user }}</strong> creado exitosamente
  {{ end }}
  </p>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    
    function onSubmit(token) {
      //document.getElementById("crearusuario").submit();
      validar(event);
    }
  </script>
{{ end }}