

  <div class="container">
  {{ if .mensajeflash }}
    <div class="{{ .alerta }}" role="alert">
  {{ .mensajeflash }}
    </div>
  {{ end }}
  {{ if .user }}
  <h3>Editar Entrada</h3>
  <form action="/edit" method="POST" id="editpost">
  {{ template "layouts/form" . }}
    <input type="hidden" value="{{ .pid }}" name="pid" id="pid" />
  </form>
  </div>
  <p>
  {{ end }}
  </p>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("editpost").submit();
    }
  </script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
      var simplemde = new SimpleMDE({ element: document.getElementById("texto") });
      simplemde.value("{{ .mitexto }}");
  </script>
  
