{{ define "content" }}
<div class="container">
{{ if .mensajeflash }}
    <div class="{{ .alerta }}" role="alert">
  {{ .mensajeflash }}
    </div>
  {{ end }}
{{ if .entradas }}
<table class="table">
    <tr>
    <th>Título</th><th>Autor</th>{{ if .user }}<th>Editar</th><th>Borrar</th>{{ end }}
    </tr>
    {{ range .entradas }}
    <tr>
        <td><a href="/show/{{.ID}}"><strong>{{ .Titulo }}</strong></a></td><td>{{ .Autor }}</td>
        {{ if eq .User .Autor }}
        <td><a href="/edit/{{.ID}}"><img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Pencil.svg/1200px-Pencil.svg.png" 
        width="32" height="24"/>
        </a></td>
        <td><a href="/delete/{{.ID}}" onclick='return confirm("¿Estás seguro de borrar?")'>
        <img src="https://icons-for-free.com/iconfiles/png/512/minus+remove+icon-1320183421124253557.png"
        width="24" height="24"/>
        </a></td>
        {{ end }}
    </tr>
    {{ end }}
    </table>
{{ end }}
</div>
{{ end }}