{{ define "content" }}
<div class="container">
{{ if .mensajeflash }}
    <div class="{{ .alerta }}" role="alert">
  {{ .mensajeflash }}
    </div>
  {{ end }}
{{ if .entradas }}
<table class="table">
    <tr>
    <th>Título</th><th>Autor</th>{{ if .user }}<th>Editar</th><th>Borrar</th>{{ end }}
    </tr>
    {{ range .entradas }}
    <tr>
        <td><a href="/show/{{.ID}}"><strong>{{ .Titulo }}</strong></a></td><td>{{ .Autor }}</td>
        {{ if eq .User .Autor }}
        <td><a href="/edit/{{.ID}}">E</a></td>
        <td><a href="/delete/{{.ID}}" onclick='return confirm("¿Estás seguro de borrar?")'>X</a></td>
        {{ end }}
    </tr>
    {{ end }}
    </table>
{{ end }}
</div>
{{ end }}