
  <div class="container">
  {{ if .mensajeflash }}
    <div class="{{ .alerta }}" role="alert">
  {{ .mensajeflash }}
    </div>
  {{ end }}
  {{ if .user }}
  <h3>Nueva Entrada</h3>
  <form action="/new" method="POST" id="newpost">
  {{ template "layouts/form"  . }}
  </form>
  </div>
  <p>
  {{ end }}
  </p>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("newpost").submit();
    }
  </script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
      var simplemde = new SimpleMDE({ element: document.getElementById("texto") });
      simplemde.value("{{ .texto }}");
  </script>
  