{{ template "head.html" .Title }}
{{ template "header.html" .Header }}
<div class="container">
{{ if .MensajeFlash }}
<div class="alert alert-{{ .Alerta }}" role="alert">
{{ .MensajeFlash }}
</div>
{{ end }}
<h3>Nuevo usuario</h3>
<form action="/cuenta" method="POST" id="crearusuario">
<table class="table">
<tr>
<td><strong>Usuario: </strong></td><td><input type="text" max="200" id="usuario" name="usuario" required/></td>
</tr>
<tr>
<td><strong>E-mail: </strong></td><td><input type="email" 
max="200" id="email" name="email" required placeholder="Ingrese una dirección de correo válida"/></td>
</tr>
<tr>
<td><strong>Password </strong></td><td><input type="password" max="15" id="password" name="password" required/></td>
</tr>
<tr>
<td></td>
<td><button class="g-recaptcha" 
        data-sitekey="6LdR07EZAAAAALAANQF1zzAlKrbyZ5ubaI2LzC3c" 
        data-callback='onSubmit' 
        data-action='submit'>Crear</button></td>
<!-- <td><input type="submit" max="15" value="Crear" /></td> -->
</tr>
</table>
</form>
</div>
<p>
{{ if .Username }}
Usuario <strong>{{ .Username }}</strong> creado exitosamente
{{ end }}
</p>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
   function onSubmit(token) {
     document.getElementById("crearusuario").submit();
   }
 </script>
{{ template "footer.html" .Footer }}