{{ template "head.html" .Title }}
{{ template "header.html" .Header }}
<div class="container">
<h3>Entrar con usuario y contraseña</h3>
<div class="container">
    <form action="/" method="POST">
    <table class="table">
    <tr>
    <td><strong>Usuario: </strong></td><td><input type="text" min="4" max="200" id="usuario" /></td>
    </tr>
    <tr>
    <td><strong>Password </strong></td><td><input type="Password" max="15" id="password" /></td>
    </tr>
    <tr>
    <td></td><td><input type="submit" max="15" value="Entrar" /></td>
    </tr>
    </table>
    </form>
</div>
<a href="/cuenta">Crear cuenta nueva</a>
</div>
{{ template "footer.html" .Footer }}